* {
    font-family: /*Papyrus,*/'Delius Swash Caps', Arial, sans-serif;
    background-color: rgb(255, 247, 231);
}

body {
    background-color: rgb(255, 247, 231);
}

/* 
    Font updates
*/


th {
    background-color: rgb(255, 247, 231);
    width: 20%;
    font-size: 30px;
}

table {
    width: 100%;
    background-color: rgb(255, 247, 231);
}

.t {
    font-size: 60px; /* pacifico seems to have 30px padding below and above for this font */
    width: 20%;
    text-align: center;
    /* margin: auto; */
    color: rgb(231, 60, 148);
    background-color: rgb(255, 247, 231);
    float: left;
    /* padding-bottom: 50px; */
    font-family: Pacifico, /*'Sacramento',*/ 'Brush Script MT', cursive; /* Lucida Handwriting */
    font: bold;
    display: inline-block;
    margin-bottom: 30px;
}

.v {
    background-color: green;
    margin-top: 51px; /* 105 - 3 == 102 / 2  */
    /* margin-bottom: 300px; */
    /* line-height: 400%; */
    /* width: 30%; */
    display: inline-block;
    width: 40%;
    font-size: 2px;
    text-align: left;
    float: left;
    font-family: Pacifico, /*'Sacramento',*/ 'Brush Script MT', cursive; /* Lucida Handwriting */

}

.v2 {
    background-color: green;
    margin-top: 51px;
    /* margin-bottom: 300px; */
    /* line-height: 400%; */
    /* width: 30%; */
    display: inline-block;
    width: 40%;
    font-size: 2px; /* with pacifico 7px */
    text-align: right;
    float: right;
    font-family: Pacifico, /*'Sacramento',*/ 'Brush Script MT', cursive; /* Lucida Handwriting */

}

div {
    margin-top: 30px;
}

a {
    color: rgb(233, 123, 33);
}

th {
    color: rgb(233, 123, 33);
}

p {
    padding: 0px;
    margin: 0px;
    color: black;
    text-align: center;
}